<body style="background:#f4f4f4">
  <div class="container-fluid" style="width:90%; background:#fff">
    <div class="portfolio-content col-md-10 col-md-offset-1">
        <div class="row" style="margin:10pt;">
            <h1 align="center">Editing Meeting</h1>
            <center><p> 과목과 날짜를 자유롭게 수정이 가능합니다 </p></center>
            <%= render 'form' %>
        </div>
    </div>
  </div>
</body>

   
