<body style="background:#f4f4f4">
  <div class="container-fluid" style="width:90%; background:#fff">
    <div class="portfolio-content col-md-10 col-md-offset-1">
        <div class="row" style="margin:10pt;">
            <h1 align="center">Add Your Study Schedule</h1>
            <center><p> 공부해야하는 과목과 날짜를 정해서 계획을 세워보세요!  </p></center>
            <%= render 'form' %>
        </div>
    </div>
  </div>
</body>
