
    <head>
        <style>
          .modal-header, h4, .close {
              background-color: #d5aa97;
              color:black !important;
              text-align: center;
          }
          .modal-footer {
              background-color: #e8e8ea;
          }
          #user_edit{
              float: right;
              text-decoration:none;
              background-color:#ffffff;
              color:black;
          }
          .btn2 {
                background-image: none;
    outline: 0;
    color: #D5D5D5;
    background: #4d4d4d;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
            }
 
    </style>
</head>
<body style="background:#f4f4f4">
    <div class="container-fluid">
        <div class="container" style="background:#fff;">
            <div class="container" style="padding-top:40pt;">
                <div class="cbp-l-project-desc-title">
                    <span>DIRECTIONS</span>
                </div>
                <center>
                    <p style="color: #3385af"> 빈칸 문제를 위한 단어는 <strong>Bold</strong>, 
                        주관식 문제를 위한 단어와 개념은 <span style="text-decoration: underline;">Underline</span> 표시를 해주세요. 
                    </p>
                </center>
                <blockquote>
                    <p>&lt;2. 뉴미디어와 사회 변동&gt;</p> <p>∙ 커뮤니케이션의 변화</p> <p>- <strong>뉴미디어</strong>의 등장 &rarr; <strong>기존 커뮤니케이션</strong>의 형태 변경</p> <p>- 새로운 커뮤니케이션 기술은 사회 변동에 긍정적 / 부정적으로 작용</p> <p>-- <span style="text-decoration: underline;">긍정적 변화</span> : <span style="text-decoration: underline;">기존 사회구조를 보다 편리하고 바람직한 방향으로 변화</span></p> <p>-- <span style="text-decoration: underline;">부정적 변화</span> : <span style="text-decoration: underline;">도덕적 타락이나 인간관계의 황폐화 등 바람직하지 못한 방향으로 변화</span></p> <p>- <strong>뉴미디어</strong>는 직접적 / 간접적으로 영향을 미칠 수 있음</p> <p>-- <span style="text-decoration: underline;">직접적 영향</span> : <span style="text-decoration: underline;">혁신에 대한 즉각적 반응의 결과로 발생하는 개인 또는 사회체계 내의 변화</span></p> <p>-- 간접적 영향 : 장기간에 걸쳐 <strong>가치관</strong>, <strong>사고방식</strong> 등에 영향을 미침으로써 <strong>사회 변동</strong>에 영향</p> <p>&nbsp;</p>
                </blockquote>
            
            
                <div class="cbp-l-project-desc-title">
                    <span>객관식 문제</span>
                </div>
                <center>
                    <p style="color: #3385af"> 객관식 문제를 풀 때 화면입니다! <br>문제를 풀고, 정답을 확인해주세요 :)</p>
                </center>
                <blockquote>
                    <p>&lt;2. 뉴미디어와 사회 변동&gt;</p> <p>∙ 커뮤니케이션의 변화</p> <p>- <strong>____</strong>의 등장 &rarr; <strong>_________</strong>의 형태 변경</p> <p>- 새로운 커뮤니케이션 기술은 사회 변동에 긍정적 / 부정적으로 작용</p> <p>-- 
                    <span style="text-decoration: underline;">긍정적 변화</span> : 
                    <span style="text-decoration: underline;">기존 사회구조를 보다 편리하고 바람직한 방향으로 변화</span></p> <p>-- <span style="text-decoration: underline;">부정적 변화</span> : <span style="text-decoration: underline;">도덕적 타락이나 인간관계의 황폐화 등 바람직하지 못한 방향으로 변화</span></p> <p>- 
                    <strong>_______</strong>는 직접적 / 간접적으로 영향을 미칠 수 있음</p> <p>-- <span style="text-decoration: underline;">직접적 영향</span> : <span style="text-decoration: underline;">혁신에 대한 즉각적 반응의 결과로 발생하는 개인 또는 사회체계 내의 변화</span></p> <p>-- 간접적 영향 : 장기간에 걸쳐 <strong>____</strong>, <strong>____</strong> 등에 영향을 미침으로써 <strong>_____</strong>에 영향</p> <p>&nbsp;</p>
                </blockquote>
                
                <div class="cbp-l-project-desc-title">
                    <span>주관식 문제</span>
                </div>
                <center>

                </center>
                <blockquote>
                    <p>긍정적 변화 : __________________________________<br> 
                    부정적 변화 : __________________________________<br> 
                    직접적 영향 : __________________________________</p>
                </blockquote>
            
                <br><br>
                <div class="cbp-l-project-desc-title" style="padding-top:20pt;">
                    <span>INTRODUCTION</span>
                    <table class="table">
                        <tr align="center">
                            <td width="33%">
                                <img src="<%= image_path 'rima.jpg' %>" alt="img" class="img-circle" height="170px" width="150px"/> 
                            </td>
                            <td width="33%">
                                <img src="<%= image_path 'Yujeoung.jpg' %>" alt="img" class="img-circle" height="170px" width="150px"/> 
                            </td>
                            <td width="33%">
                                <img src="<%= image_path 'nayoung.jpg' %>" alt="img" class="img-circle" height="170px" width="150px"/> 
                            </td>
                        </tr>
                        <tr align="center">
                            <td>동덕여대 컴퓨터학과 이림아</td>
                            <td>동덕여대 컴퓨터학과 노유정</td>
                            <td>동덕여대 컴퓨터학과 김나영</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>