<div class="portfolio-content">
    <div class="cbp-l-project-title"><%=current_user.name%></div>
    <div class="cbp-l-project-subtitle">WEB DESIGNER / PHOTOGRAPHER</div>
    <img src="<%= image_path 'john-doe.jpg' %>" class="center-block img-rounded" alt="John Doe" width="180" />
    <!--Container-->
    <div class="cbp-l-project-container">

        <!--Project Details-->
        <div class="cbp-l-project-details">
            <div class="cbp-l-project-details-title">
                <span>I AM</span>
            </div>
            <!--List-->
            <ul class="cbp-l-project-details-list">
                <li><strong>Name</strong>John Doe</li>
                <li><strong>Date of birth</strong>January 01, 1985</li>
                <li><strong>Address</strong>1234 Street Road City Name</li>
                <li><strong>Email</strong>your.name@email.com</li>
                <li><strong>Phone</strong>(123) 456-7890</li>
                <li><strong>Skype</strong>John_Doe</li>
            </ul>
            <!--/List-->
        </div>
        <!--/Project Details-->
        <!--Description-->
        <div class="cbp-l-project-desc">
            <div class="cbp-l-project-desc-title">
                <span>Biography</span>
            </div>
            <div class="cbp-l-project-desc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem
                voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae aut
                ipsa non ex ullam atque suscipit ut dignissimos magnam!</div>
        </div>
        <!--/Description-->
    </div>
    <!--/Container-->
    <!--Container 2-->
    <div class="cbp-l-project-container">
            <div class="cbp-l-project-desc-title">
                <span>Professional Skills</span>
            </div>
            <!--Skills-->
            <div class="cbp-l-project-desc-text">
                <!--Skills 1-->
                <span>PHOTOSHOP</span>
                <div class="progress pror-bor-gey">
                  <div class="progress-bar progress-bar-gey" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                </div>
                <!--/Skills 1-->
                <!--Skills 2-->
                 <span>ILLUSTRATOR</span>
                <div class="progress pror-bor-gey">
                  <div class="progress-bar progress-bar-gey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                </div>
                <!--/Skills 2-->
                <!--Skills 3-->
                 <span>INDESIGN</span>
                <div class="progress pror-bor-gey">
                  <div class="progress-bar progress-bar-gey" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                </div>
                <!--/Skills 3-->
                <br />
                <!--Skills 4 -->
                <span> HTML/CSS</span>
                <div class="progress pror-bor-black">
                  <div class="progress-bar progress-bar-black" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                </div>
                <!--/Skills 4-->
                <!--Skills 5-->
                 <span>JAVASCRIPT</span>
                <div class="progress pror-bor-black">
                  <div class="progress-bar progress-bar-black" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                </div>
                <!--/Skills 5-->
                <!--Skills 6-->
                <span> PHP/MYSQL</span>
                <div class="progress pror-bor-black">
                  <div class="progress-bar progress-bar-black" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                </div>
                <!--/Skills 6-->
                <br />
                <!--Skills 7-->
                 <span>RESPONSIBLE</span>
                <div class="progress pror-bor-gey">
                  <div class="progress-bar progress-bar-gey" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                </div>
                <!--/Skills 7-->
                <!--Skills 8-->
                <span> CREATIVE</span>
                <div class="progress pror-bor-gey">
                  <div class="progress-bar progress-bar-gey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"> </div>
                </div>
                <!--/Skills 8-->
                <!--Skills 9-->
                 <span>MULTITASKING</span>
                <div class="progress pror-bor-gey">
                  <div class="progress-bar progress-bar-gey" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"> </div>
                </div>
                <!--/Skills 9-->
            </div>
            <!--/Skills-->
    </div>
    <!--/Container 2-->
    <!--Container 3-->
    <div class="cbp-l-project-container">
        <!--Title-->
        <div class="cbp-l-project-desc-title">
            <span>EXPERIENCE</span>
        </div>
        <!--/Title-->
        <!--Text-->
        <div class="cbp-l-project-desc-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem
            voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae aut
            ipsa non ex ullam atque suscipit ut dignissimos magnam!
        </div>
        <!--/Text-->
    </div>
    <!--/Container 3-->
    <br><br><br> 
</div>